@import '../abstracts/variables/colors';
@import '../abstracts/variables/mixins';

#hero {
    position: relative;
    height: 100vh;
    max-height: 895px;

    .hero-text {
        color:#000;
        margin: 0;
        left:0;
        right:0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        p {
            margin-top:30px;
        }

        .btn {
            margin-top:15px;
        }
    }
}

#scene {
    height: 100vh;
    max-height: 1080px;
    position:relative;
    overflow:hidden;
    background: #724c9d;
    background: -moz-radial-gradient(center, ellipse cover, #724c9d 0%, #2c1b47 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #724c9d 0%,#2c1b47 100%);
    background: radial-gradient(ellipse at center, #724c9d 0%,#2c1b47 100%);

    .layer {
        width:100vw;
        height: 100%;
        
        
        img {
            width: 100%;
            height: auto;
            display:block;
            text-align:center;
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            transform:scale(1.025);
        }
    }

    .logo {
        display:block; 
        text-align: center;
        margin:0 auto;

        img {
            position: absolute; 
            top:0;
            width:100%;
            max-width:480px;
            height:auto;
            margin:100px auto 0;
            vertical-align:middle; 
            transform:scale(1);
        }  
    }
}

@media screen and (max-width: 991px ) {

    .hero-text .container .row { 
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background: rgba(250, 250, 250, 0.20);
        padding:30px 15px;
    }
}

@media screen and (max-width: 767px ) {
    #hero {
        max-height:720px;
    }
}
